<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple blog</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
<header>
    <h1>Simple blog</h1>
    <nav>
        <ul>
            <li><a href="{% url 'demo:index' %}">Main page</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'demo:create_post' user.author.blog.slug %}">Create post</a></li>
                <li><a href="{% url 'demo:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'demo:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>