<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'Home page' }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'demo:index' %}">Home page</a></li>
            {% if request.user.is_authenticated %}
                <li>Welcome {{ request.user.username }} <a href="">Logout</a></li>
            {% else %}
                <li><a href="{% url 'demo:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>{{ title|default:'Home page' }}</h1>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>